.qr {
    background-color: $light-blue;
    width: 300px;
    padding: $base-padding;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba($black, .25);

    font-family: $base-font-family;
    text-align: center;

    color: $black;

    &-img {
        display: block;
        width: 100%;
        height: auto;
        img {
            border-radius: 10px;
        }
    }

    &-info {
        padding: $base-padding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin-bottom: 0;
        }
    }
}